<ion-tabs class="tabs-icon-top  tabs-color-active-positive">

  <ion-tab title="Home" icon="ion-home" href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="Responsable" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/responsable">
    <ion-nav-view name="tab-responsable"></ion-nav-view>
  </ion-tab>

  <!-- Responsable Tab -->
  <ion-tab title="Preguntas" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/preguntas">
    <ion-nav-view name="tab-pregunta"></ion-nav-view>
  </ion-tab>

  <!-- Riesgo Tab -->
  <ion-tab title="Riesgo" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/riesgo">
    <ion-nav-view name="tab-riesgo"></ion-nav-view>
  </ion-tab>

    <!-- Riesgo Tab -->
  <ion-tab title="web" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/web">
    <ion-nav-view name="tab-web"></ion-nav-view>
  </ion-tab>

</ion-tabs>
