<ion-view title="Usuarios">
  <!--div class="bar bar-header bar-positive">
    <h1 class="title">Gestionar Usuarios</h1>
  </div-->
  <ion-content padding="'true'" class="has-header">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Buscar" ng-model="users.filtro">
      </label>
    </div>
    <div class="list">
      <div class="item item-avatar" ng-repeat="usuario in users.usuarios | filter:users.filtro track by $index">
        <h2>{{usuario.nombre}}</h2>
        <p>
          {{usuario.rol.nombre_rol}}
        </p>
        <p>
          {{usuario.correo}}
        </p>
        <p>
          {{usuario.estado}}
        </p>
        <button class="button button-energized button-outline button-small"
        ng-click="users.openEditUser(usuario)">Editar</button>
        <button class="button button-assertive button-outline button-small"
        ng-if="usuario.estado === 'Activo'"
        ng-click="users.darBaja(usuario)">Dar de Baja</button>
        <button class="button button-positive button-outline button-small"
        ng-if="usuario.estado !== 'Activo'"
        ng-click="users.darAlta(usuario)">Dar de Alta</button>
        <button class="button button-calm button-outline button-small"
        ng-click="users.openResPass(usuario.uid)">Restablecer Contraseña</button>
        <button class="button button-stable button-outline button-small"
        ng-click="users.eliminarUsuario(usuario.uid)">Eliminar</button>
      </div>
    </div>
    <button class="button button-fab button-fab-bottom-right button-assertive icon ion-android-add"
    ng-click="users.openCreate()">

    </button>
  </ion-content>
</ion-view>

<script id="edit-user-modal.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Editar Usuario</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list padding">
        <div class="spacer" style="height: 20px;"></div>
        <p>
          Edite los datos personales del usuario.
        </p>
        <label class="item item-input item-stacked-label ">
          <span class="input-label">Nombre</span>
          <input type="text" ng-model="users.editUser.nombre">
        </label>
        <div class="spacer" style="height: 20px;"></div>
        <label class="item item-input item-stacked-label ">
          <span class="input-label">Documento</span>
          <input type="text" ng-model="users.editUser.dni">
        </label>
        <div class="spacer" style="height: 20px;"></div>
        <p>
          Cambie el rol que tiene el usuario.
        </p>
        <label class="item item-input item-select">
            <span class="input-label">Rol</span>
            <select ng-model="users.editUser.rolRolId"
            ng-options="rol.rol_id as rol.nombre_rol for rol in users.roles">
            </select>
        </label>
        <div class="spacer" style="height: 20px;"></div>
        <p>
          Cambie el correo de contacto.
        </p>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Correo</span>
          <input type="text" ng-model="users.editUser.correo">
        </label>
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <div class="row">
        <div class="col">

        </div>
        <div class="col">
          <button class="button button-calm button-block" ng-click="users.closeEditUser()">Guardar</button>
          <button class="button button-stable button-block" ng-click="users.cancelEditUser()">Cancelar</button>
        </div>
        <div class="col">

        </div>
      </div>
    </ion-content>
  </div>
</script>



<script id="change-password.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Restablecer Contraseña</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list padding">
        <div class="spacer" style="height: 20px;"></div>
        <p>
          Ingrese la nueva contraseña.
        </p>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Contraseña</span>
          <input type="text" ng-model="users.new_pass">
        </label>
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <div class="row">
        <div class="col">

        </div>
        <div class="col">
          <button class="button button-calm button-block" ng-click="users.closeResPass()">Guardar</button>
          <button class="button button-stable button-block" ng-click="users.cancelResPass()">Cancelar</button>
        </div>
        <div class="col">

        </div>
      </div>
    </ion-content>
  </div>
</script>

<script id="createUser.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Nuevo Usuario</h1>
    </ion-header-bar>
    <ion-content padding="'true'" class="has-header">
      <form class="list">
        <ion-list>
          <p>
            Rellene los campos del formulario con los datos correspondientes
            del nuevo usuario del sistema.
          </p>
          <div class="spacer" style="height: 20px"></div>
          <p>
            Ingrese los nombres y apellidos de la persona.
          </p>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Nombre y Apellidos:</span>
            <input type="text" placeholder="ej. Paul Brian" ng-model="users.nuevo.nombre"
            ng-change="users.verificarNombre()">
          </label>
          <div class="spacer" style="height: 20px"></div>
          <p>
            Ingrese el nombre de usuario, asegúrese de elegir un nombre único.
          </p>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Usuario</span>
            <input type="text" placeholder="ej. paul.brian" ng-model="users.nuevo.uid">
          </label>
          <div class="spacer" style="height: 20px"></div>
          <p>
            Ingrese el documento de identificación de la persona (DNI).
          </p>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Documento</span>
            <input type="text" placeholder="ej. 12345678" ng-model="users.nuevo.dni"
            ng-change="users.verificarDni()">
          </label>
          <div class="spacer" style="height: 20px"></div>
          <p>
            Ingrese una contraseña para la cuenta, para mayor seguridad utilice
            una combinación de letras y números.
          </p>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Contraseña</span>
            <input type="password" placeholder="Contraseña" ng-model="users.nuevo.password">
          </label>
          <div class="spacer" style="height: 20px"></div>
          <p>
            Elija el Rol que asignará al nuevo usuario.
          </p>
          <label class="item item-input item-select item-stacked-label">
            <span class="input-label">Rol</span>
            <select ng-model="users.nuevo.rol_id"
            ng-options="rol.rol_id as rol.nombre_rol for rol in users.roles">
            </select>
          </label>
          <div class="spacer" style="height: 20px"></div>
          <p>
            Ingrese el correo electrónico de la persona.
          </p>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Correo:</span>
            <input type="text" placeholder="ej. paul.brian@atacocha.com.pe" ng-model="users.nuevo.correo"
            ng-model-options="{updateOn: 'blur'}" ng-change="users.verificarEmail()">
          </label>
          <div class="spacer" style="height: 30px;"></div>
          <p>
            Verifique los datos antes de crear el nuevo usuario.
          </p>
          <button class="button button-positive button-block" ng-click="users.closeCreate()">Crear</button>
          <div class="spacer" style="height: 20px;"></div>
        </ion-list>
      </form>
    </ion-content>
  </div>
</script>
