<ion-view view-title="Account">

<ion-content>
 	
<!--<div class="col">
	<ion-select label="Placa do Veículo" label-field="nmPlaca" provider="veiculos"  ng-model="veiculo"/>
</div> -->


<div class="row"> 
	<div class="col col-20">
		<div class="list card">
			<div class="item item-divider">Fecha</div>
			<div class="col">
				<div class="col ">
				    <ionic-datepicker input-obj="datepickerObject" ng-model="createRiesgo.datepickerObject.inputDate">
				      <button class="button button-block button-positive"> {{createRiesgo.datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}</button>
				    </ionic-datepicker> 
				</div>
			</div>
		  	<div class="col">
		  		<div class="list list-inset">
			        <label class="item item-input">
			            <input type="text" placeholder="Labor" ng-model="createRiesgo.labor">
			        </label>	    	
				    <label class="item item-input">
				        <input type="text" placeholder="Nivel" ng-model="createRiesgo.nivel">
				    </label>
		    	</div>
			</div>		
		</div>
		<div class="list card">
			<div class="item item-divider">Guardia</div>
				 
				<ion-radio ng-repeat="item in createRiesgo.guardia"
			        ng-value="item.value"
			        ng-model="createRiesgo.insp_guard.guardia" name="group_guardia">
			          {{ item.text }}
			    </ion-radio>		
		
		</div>
		<div class="list card">
			<div class="item item-divider">Tipo de Labor</div>
			<div class="row"> 		
			       	<ion-radio ng-repeat="item in createRiesgo.tipolabor"
			                   ng-value="item.value"
			                   ng-model="createRiesgo.insp_tlabor.tipolabor"  name="group_tipolabor">
			          			{{ item.text }}
			        </ion-radio>		
	<!-- 		<div class="col col-50 ">
					<ul class="list">
						<li class="item item-checkbox">
						    <label class="checkbox">
						       <input type="checkbox">
						    </label>
						     Avance
						</li> 
					</ul>
				</div>
			-->
			</div>
		</div>

	</div>

    <div class="col col-60">
		<div class="row">		
				<ion-radio ng-repeat="item in createRiesgo.empresa"
				    ng-value="item.value"
				    ng-model="createRiesgo.insp_empresa.empresa" name="group_empresa">
				          {{ item.text }}
				</ion-radio>
	
			<!-- <div class="col">			
				<div class="list">
				  <label class="item item-radio">
				    <input type="radio" ng-model="createRiesgo.empresa" value="milpo" name="group">
				    <div class="item-content">
				      Milpo
				    </div>
				    
				  </label>
				</div>		
			</div> -->	
		</div>

	    <div class="row">
	    	<div class="list">
	  			<label class="item item-input item-select">
				    <select>
				     	<option>Blue</option>
				      	<option selected>Green</option>
				      	<option>Red</option>
				    </select>
			    </label>
			</div>
		</div>

	    <div class="row">
	    	<div class="col col-10">
		  		<label class="item item-input item-stacked-label">
			    	<span class="input-label">Ancho</span>
			    
			  	</label>
		  	</div>
	  		<div class="col">
		  		<label class="item item-input item-stacked-label">
			    	<span class="input-label">PROG</span>
			    	<input type="text" ng-model="createRiesgo.ancho_prog" >
			  	</label>
		  	</div>
	  		<div class="col">
			  		<label class="item item-input item-stacked-label">
			    	<span class="input-label">REAL</span>
			    	<input type="text" ng-model="createRiesgo.ancho_real"  >
			  	</label>
		  	</div>
		   	<div class="col">
		  		<label class="item item-input item-stacked-label">
			    	<span class="input-label">% Sobre Exc.-Tabla</span>
			    	<input type="text" ng-model="createRiesgo.ancho_exc_tabla" >
			  	</label>
		  	</div>
		  	<div class="col">
		  		<label class="item item-input item-stacked-label">
			    	<span class="input-label">% Sobre Exc.-Real</span>
			    	<input type="text" ng-model="createRiesgo.ancho_exc_real" >
			  	</label>
		  	</div>
		</div>

		<div class="row">
	  		<div class="col col-10">
				<div class="list">
					<label class="item item-input">
				    <span class="input-label">Alto</span>				  
				  	</label>
				</div>
	  		</div>
	  		<div class="col">
				<div class="list">
					<label class="item item-input">
				
				    <input type="text" ng-model="createRiesgo.alto_prog">
				  	</label>
				</div>
	  		</div>
	  		<div class="col">
				<div class="list">
					<label class="item item-input">
			
				    <input type="text" ng-model="createRiesgo.alto_real">
				  	</label>
				</div>
	  		</div>
	  		<div class="col">
				<div class="list">
					<label class="item item-input">
				    
				    <input type="text" ng-model="createRiesgo.alto_exc_tabla">
				  	</label>
				</div>
	  		</div>
	  		<div class="col">
				<div class="list">
					<label class="item item-input">
				   
				    <input type="text" ng-model="createRiesgo.alto_exc_real">
				  	</label>
				</div>
	  		</div>
	  	</div>

	  	<div class="row">
	    	<div class="col col-20">
		    	<label class="item item-input">
		    		<input type="text" ng-model="createRiesgo.mfr" placeholder="tipo mfr">
		    	</label>
	    	</div>
	    	<div class="col ">
		    	<label class="item item-input">
		    		<input type="text" ng-model="createRiesgo.result" placeholder="tipo result">
		    	</label>
	    	</div>
	    </div>

	  	<div class="row">
	    	<div class="col ">
		    	<label class="item item-input item-stacked-label">
	    			<span class="input-label">Comentario</span>
	    			<textarea name="comment" id="comment-textarea"  ng-model="createRiesgo.comment">
					</textarea>
	  			</label>
	    	</div>	   
	    </div>	    
   
    </div>

    <div class="col col-20">
		<div class="list card">

			<ion-radio ng-repeat="item in createRiesgo.opcionlabor"
				    ng-value="item.value"
				    ng-model="createRiesgo.inps_OL.sostenimiento" name="group_opcionlabor">
				          {{ item.text }}
			</ion-radio>	
		</div>

		<div class="list card">	
		   	<div class="item item-divider">Recomendacion Geomecanica</div>					
		   		<ion-radio ng-repeat="item in createRiesgo.geomecanica"
				    ng-value="item.value"
				    ng-model="createRiesgo.insp_recomendacion.rgeo" name="group_recomendacion">
				          {{ item.text }}
				</ion-radio>
		</div>

		<div class="list card">	
		   	<div class="item item-divider">Instalacion</div>
		   		<ion-radio ng-repeat="item in createRiesgo.install"
				    ng-value="item.value"
				    ng-model="createRiesgo.insp_install.resp" name="group_inst">
				          {{ item.text }}
				</ion-radio>		
		</div>

	</div>
</div>

<div class="row">
			<div class="col">
			    <div class="item item-divider">Responsable de:</div>
			    <div class="item item-body">        
			        <input type="text" ng-model="createRiesgo.responsable">       
			    </div>
			</div>
			<div class="col">
			    <div class="item item-divider">Seguridad </div>
			    <div class="item item-body">        
			        <input type="text" ng-model="createRiesgo.seguridad">       
			    </div>
			</div>
			<div class="col">
			    <div class="item item-divider">Geomecanico</div>
			    <div class="item item-body">        
			        <input type="text" ng-model="createRiesgo.geomecanico">       
			    </div>
			</div>
			<div class="col">
			    <div class="item item-divider">Operaciones</div>
			    <div class="item item-body">        
			        <input type="text" ng-model="createRiesgo.operaciones">       
			    </div>
			</div>
			<div class="col">			
				<div class="item item-divider">Nivel de Riesgo</div>
			    <div class="item item-body">
			       	<div>
			           	<input type="text" ng-model="createRiesgo.nivelRiesgo"> 
			    	</div>
			    </div>			    
			</div>


			
		</div>    	


  	<div class="row">
		<div class="col ">	      

		    <ion-list>
			    <ion-toggle ng-repeat="item in createRiesgo.preguntasList" ng-model="item.checked"  ng-checked="item.checked"> 
		        	{{ item.descripcion }}
		        </ion-toggle>        
		    </ion-list>
		   
		</div>
		<div class="col ">
		     <ion-list>
			    <ion-toggle ng-repeat="item in createRiesgo.preguntasList" ng-model="item.checked"  ng-checked="item.checked"> 
		        	{{ item.descripcion }}
		        </ion-toggle>        
		    </ion-list>
		   
		</div>
	</div>

	<div class="list">        
        <div class="item item-divider"> 
          Settings
				<input type="radio" ng-model="createRiesgo.name" value="red">
        </div>      
     </div>

	<div class="row">
		<div class="col " ng-repeat="item in preguntasList">  
			<ul class="list">
				<li class="item item-checkbox">
				    <label class="checkbox">
        				<input type="checkbox" ng-click="clickItem(item); $event.stopPropagation();" ng-model="item.checked">				       
				    </label>
				    {{ item.text }}
				</li> 
			</ul>
		</div>
	</div>

	<div class="row">
    	<div class="col col-20">
			<button class="button button-balanced"  ng-click="createRiesgo.guardarinspeccion()">
			  Registrar
			</button>
		</div>
	</div>

  </ion-content>
</ion-view>


